@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.295);
}

footer {
    text-align: center;
    font-style: italic;
}