body {
    background-color: grey;
}

div.screen {
    background-color: aliceblue;
    height: 100px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

